body {
  font-family: Helvetica;
  text-align: center;
}

header {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}

header h1 {
  font-size: 70px;
  font-weight: bold;
}

p a {
  font-size: 18px;
  color: white;
}

#progress h2 {
  font-size: 32px;
  font-weight: bold;
}

.item h3 {
  font-size: 23px;
  font-weight: bold;
}

.item p {
  font-size: 14px;
}

.design {
  background-image: url(../images/the-flatiron-building.png);
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  text-align: left;
}

/* .footer a {
  color: white;
} */
